<table class="table table-striped">
    <thead>
        <th>{{'Produit'|trans}}</th>
        <th>{{'Quantité'|trans}}</th>
        <th>{{'Prix'|trans}}</th>
        <th>{{'Total'|trans}}</th>
        <th></th>
    </thead>
    <tbody>
        {% for article in panier.contenuPaniers %}
            <tr>
                <td>{{ article.produit.nom }}</td>
                <td>{{ article.quantite }}</td>
                <td>{{ article.produit.prix }}€</td>
                <td>{{ article.produit.prix * article.quantite }}€</td>
                <td>
                    <a href="{{ path('app_contenu_panier_delete', {'id': article.id}) }}" class="btn btn-danger">{{'Supprimer'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{'panier.Votre panier est vide'|trans}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>