{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <a href="{{ path('app_user_index') }}" class="text-muted">{{'Retour'|trans}}</a>
    <h1>{{'Commande'|trans ~ ' #' ~ commande.id}}</h1>
    <h3>{{ commande.dateAchat|date('Y-m-d')}}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{'Produit'|trans}}</th>
                <th>{{'Quantite'|trans}}</th>
                <th>{{'Prix'|trans}}</th>
                <th>{{'Total'|trans}}</th>

            </tr>
        </thead>
        <tbody>
        {% set montantPanier = 0 %}
        {% for c in commande.contenuPaniers %}
            {% set montantPanier = montantPanier + (c.quantite * c.produit.prix) %}
            <tr>
                <td>{{ c.produit.nom }}</td>
                <td>{{ c.quantite }}</td>
                <td>{{ c.produit.prix }}€</td>
                <td>{{ c.produit.prix * c.quantite }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5>{{'Montant panier'|trans}} : {{ montantPanier }}€</h5>
{% endblock %}
