{% extends 'base.html.twig' %}

{% block title %}BSB | {{'panier.mon'|trans}}{% endblock %}

{% block body %}
    {% if panier is null %}
        <p>{{'panier.vide'|trans}}</p>
    {% else %}
        {{ include('panier/_articles.html.twig') }}
        {% set montantPanier = 0 %}
        {% for a in panier.contenuPaniers %}
            {% set montantPanier = montantPanier + (a.quantite * a.produit.prix) %}
        {% endfor %}

        <div class="d-flex justify-content-between">
            <h5>{{'Montant panier'|trans}} : {{ montantPanier }}€</h5>
            <a href="{{ path('app_panier_achat') }}" class="btn btn-outline-info">{{'panier.acheter'|trans}}</a>
        </div>
    {% endif %}
{% endblock %}
