{% extends 'base.html.twig' %}

{% block title %}BSB | {{ 'paniers_non.titre'|trans }}{% endblock %}

{% block body %}
    <h1 class="mt-3">{{ 'paniers_non.liste_des_paniers_non_achetes'|trans }} :</h1>
    <table class="table">
        <thead>
            <th>{{ 'paniers_non.utilisateur'|trans }}</th>
            <th>{{ 'paniers_non.n_panier'|trans }}</th>
            <th>{{ 'paniers_non.contenu_panier'|trans }}</th>
        </thead>
        <tbody>
            {% for panier in panierNonAchetes %}
                {% if panier.etat == 0 %}
                    <tr>
                        <td>{{ panier.user.prenom }} {{ panier.user.nom }}</td>
                        <td>{{ panier.id }}</td>
                        <td>
                            <ul>
                                {% for article in panier.contenuPaniers %}
                                    <li>{{ article.produit.nom }} <b>x{{ article.quantite }}</b></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="3">{{ 'paniers_non.non'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}