{% extends 'base.html.twig' %}

{% block title %}BSB | Produits{% endblock %}

{% block body %}
    <h1 class="mt-3">Les produits disponibles :</h1>

    {% for produit in produits %}
        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="{{ produit.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ produit.nom }}</h5>
                <p class="card-text">{{ produit.description }}</p>
                <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Détails</a>
            </div>
        </div>
    {% else %}
        <h5>Il n'a aucun produit</h5>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_produit_new') }}" class="btn btn-primary">Créer un nouveau produit</a>
    {% endif %}
{% endblock %}
